
doctype html
html
    head
        title.titleID=title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        p
            img.background(src= '/images/background.jpg')
        h2.head Player
        nav.btnlist
            ul
                li
                    a.homepage(href='likes') Likes
                li
                    a.homepage(href='dislikes') Dislikes

